.page{
    width: 100%;
    height: 100%;
}
.coluna-25 {
    text-align: center;
    width: 25%;
    margin: 20px;
    height: 300px;
}
.coluna-33 {
    text-align: center;
    width: 33%;
    margin: 10px;
    height: 220px;
}
.linha {
    display: flex;
}
.boxdisplay{
    width: 50%;
    height: 100%;
    margin: auto;
}
.bt1 {
    height: 50px;
    width: 50px;
    background-color: #d70f33;
    border-radius: 12px;
}
.bt2 {
    height: 50px;
    width: 50px;
    background-color: #1eda2c;
    border-radius: 12px;
}
.section1 {
    width: 100%;
    height: 10%;
    background-color: #011002;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 70px;
}
